StatService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified">
			<xs:element name="inputElement">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="url" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="outputElement">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GPlus">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:positiveInteger"/>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Error"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Pinterest">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:positiveInteger"/>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Error"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Twitter">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:positiveInteger"/>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Error"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LinkedIn">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:positiveInteger"/>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Error"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Facebook">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:positiveInteger"/>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Error"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Total" type="xs:positiveInteger"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="statRequest">
		<wsdl:part name="parameter" element="tns:inputElement"/>
	</wsdl:message>
	<wsdl:message name="statResponse">
		<wsdl:part name="parameter" element="tns:outputElement"/>
	</wsdl:message>
	<wsdl:portType name="interface">
		<wsdl:operation name="get_stat">
			<wsdl:input message="tns:statRequest"/>
			<wsdl:output message="tns:statResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StatHttpBinding" type="tns:interface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get_stat">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="statService">
		<wsdl:port name="statPort" binding="tns:StatHttpBinding">
			<soap:address location="http://localhost:8080/services/stat"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
